<div id="nav">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/english" routerLinkActive="active">English</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/hindi" routerLinkActive="active">Hindi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/tamil" routerLinkActive="active">Tamil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/comingUp" routerLinkActive="active">Comings Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/request" routerLinkActive="active">Request</a>
    </li>
  </ul>
</div>
<div id="search">
    <form class="form-inline md-form form-sm">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
    </form>
</div> 

<div id="sidenav">
  <table style="border-bottom:2px solid white; text-align:center;background-color: transparent">
    <tr>
      <th style="color: red; ">
    Popular Category
  </th>
</tr>
    <tr>
      <td><a href="#">HD</a></td>
    </tr>
    <tr><td><a routerLink="" href="#">Action</a></td></tr>  
    <tr><td><a href="#">Animated</a></td></tr>
      <tr><td> <a href="#">Comedy</a></td></tr>
     <tr><td><a href="#">Kids</a></td></tr>
      <tr><td><a href="#">Horror</a></td></tr>
      <tr><td> <a href="#">Dance</a></td></tr>  
  </table>
</div>